.ipynb_checkpoints
data
figures
archived
activations
familiarity-overleaf/*
face_matching/*
models/*
results/*
GUFD/
lfw-deepfunneled/
lfw/
SLLFW/
bb_landmark
clustering
datasets
facebyface
from_scratch
hard_pairs
hard_triads
imagesets
log
mistakes
models
montages
normal_pairs
pretrainedx
._*
.DS_Store
*subset_thresh*
*pycache*
*plaut*
report*
library.bib
nips_2016.sty
*.pth
*.pyc
*.aux
*.bbl
*.out
*.log
*.blg
*.synctex.gz
